.active {
    padding: 10px;
    color: orange;
}

.dialog {
    padding: 10px;

}

.userAvatar {
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    border: 2px solid cornflowerblue;
}

.user {
    display: inline;
    text-align: center;
}
